<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351100629522-okde5g42lpqmtk8a2mgkuv1j9r0kqfv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351100629522-okde5g42lpqmtk8a2mgkuv1j9r0kqfv2</string>
	<key>API_KEY</key>
	<string>AIzaSyBxHUAeIMBGU7yfwHhB-RXbtgAh-In-jEs</string>
	<key>GCM_SENDER_ID</key>
	<string>351100629522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aman.personal.VestaCare</string>
	<key>PROJECT_ID</key>
	<string>vestacare-ea528</string>
	<key>STORAGE_BUCKET</key>
	<string>vestacare-ea528.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351100629522:ios:8cdd219fc08835d7af1ecb</string>
</dict>
</plist>